<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Kiwii</title>

    <style>

        .navbar
        {
            margin: 0;
            padding: 0;

            display: inline-block;
        }

        .navbar li
        {
            list-style-type: none;

            display: inline-block;
            padding-right: 12px;
        }

        .navbar li a
        {
            text-decoration: none;
        }
        
    </style>

</head>
<body>

    <ul class="navbar">

        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/register">Register</a></li>

        {% if profile %}

        <li><a href="/profile/{{profile}}">Profile</a></li>

        {% endif %}

    </ul>

    <h2>Home</h2>

    All users: <br>

    <ul>

    {% for user in users %}
    
    <li><a href="/profile/{{user.username}}">{{user.username}}</a></li>
    
    {% endfor %}

    </ul>

    
    
</body>
</html>